*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "DM Sans", sans-serif;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #e1ecec;
}
.container{
   
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.heading{
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    width: 400px;
}
.heading h2{
    font-size: 2rem;
    margin-bottom: 5px;
}
.heading p{
    font-size: .9rem;
    line-height: 1.2;
}
.heading h2, .heading p{
    text-align: center;
    
}
.heading img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 80px;
}
.continue-with-google button{
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    border: none;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.3);
    border-radius: 8px;
    /* border: 1px solid; */
    width: 100%;
    padding: 10px 90px;
}

.continue-with-google button:hover{
    border: 1px solid;
}

.form-table{
    /* margin: auto; */
    display: block;
    gap: 10px;
    margin-bottom: 20px;
}
.form-table label{
    font-size: .9rem;
    margin-top: 20px;
}
.form-table input{
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
}

.login button{
    color: white;
    background-color: #4931a8;
    margin-top: 5px;
    /* margin-bottom: 40px; */
    font-weight: bold;
    border: none;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.3);
    border-radius: 8px;
    /* border: 1px solid; */
    width: 100%;
    padding: 10px 90px;
}
.login button:hover{
    background-color: #1a0c55;
}

.bottom-line{
    font-size: .8rem;
    margin-top: 20px;
    text-align: center;
}
.bottom-line a{
    font-weight: bold;
    color: #4931a8;
    text-decoration: none;
}